:root {
    --body-text: #333333;
    --header-background: #f6f7f7;
    --nav-font: #454545;
    --nav-background: #e9ebeb;
    --header: #303030;
    --footer-background: #1b1e20;
    --footer-head: #8f8c8f;
    --footer-body: #ffffff;
    --body-font: "Open Sans" , sans-serif;
}

body {
    margin: 0 auto;
    font-weight: bold;
    color: var(--body-text);
    font-family: var(--body-font);
}

.navbar {
    display: flex;
    background-color: var(--nav-background)
}

.navbar__right {
    display: flex;
    margin: 0 auto;
    max-width: 55rem;
}

.navbar__left {
    display: flex;
    margin: 0 auto;
    max-width: 55rem;
}

ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
}

li {
    padding: 1rem 1.5rem;
}

a {
    text-decoration: none;
    color: var(--nav-font);
    text-transform: uppercase;
}

input {
    border: thin solid var(--nav-font);
    border-radius: .5rem 0 0 .5rem;
    width: 300px
}

form {
    display: flex;
    margin: .5rem;
    border: solid thin var(--nav-font);
    border-radius: .5rem;
}

button {
    color: var(--nav-background);
    background-color: var(--nav-font);
    border: none;
    display: inline-block;
    border-radius: 0 .5rem .5rem 0;
    width: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background);
    padding: 1rem;
}

.header__right {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart-icon {
    margin: 1rem 0;
}

.my-cart {
    margin: 1rem;
}

.my-cart__amount {
    font-size: 75%;
    padding-top: .5rem;
    font-weight: lighter;
}

.fa-sharp {
    color: var(--header-background);
    background-color: var(--nav-font);
    padding: 1rem;
    border-radius: 50%;
}



